1. What are data structures and why are they important?
  - Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently.
  They're important because they help improve the performance and scalability of programs.
2.Explain the difference between mutable and immutable data types with examples.
  - MUTABLE DATATYPE: Datatypes whose values can be changed. eg - lists
  IMMUTABLE DATATYPE:Datatypes which can  not be changed after creation. eg- tuples
3. What are the main differences between lists and tuples in Python?
  - Lists are mutable while tuples are not.
4.Describe how dictionaries store data.
  -Dictionaries store data using a key-value pair system. eg:
  {"course" : "datascie" , "duration": 6}
5.Why might you use a set instead of a list in Python?
  - Sets are used where objects should not be duplicates.
6. What is a string in Python, and how is it different from a list?
  - String is a sequence of characters and is immutable, unlike lists.
7.How do tuples ensure data integrity in Python?
  -Tuples are immutable, so their values can't be changed, ensuring data stays constant.
8.What is a hash table, and how does it relate to dictionaries in Python?
  -A hash table stores key-value pairs using a hash function; Python dictionaries are built on hash tables.

9.Can lists contain different data types in Python?
  -Yes. eg: L=['sunday', 12, True , 'abc']

10.Why are strings immutable in Python?
  -For performance and security; it allows string reuse and makes them hashable.

11.What advantages do dictionaries offer over lists?
  -Faster lookups by key, better for structured data with unique identifiers.

12.When is a tuple preferable over a list?
  -When you need to store fixed, unchangeable data, like coordinates or config settings.

13.How do sets handle duplicate values in Python?
  -Sets automatically discard duplicates.

14.How does the “in” keyword work differently for lists and dictionaries?
  -In lists: checks for a value; in dictionaries: checks for a key.

15.Can you modify the elements of a tuple? Why or why not?  
  -No, tuples are immutable—you can't change their elements after creation.

16.What is a nested dictionary,and give an example of its use case3
   -A dictionary within another dictionary.  
   Example:{"user1": {"name": "Akshat", "age": 25}}

17.Describe the time complexity of accessing elements in a dictionary.
   -Average case: **O(1)** (constant time).

18.In what situations are lists preferred over dictionaries?
   -When order matters or when storing simple, sequential data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
   -Dictionaries were considered unordered because they didn't preserve the order of items; retrieval is by key, not position.

20. Explain the difference between a list and a dictionary in data   retrieval?
   -Lists use indexes (positions); dictionaries use keys for quick access.

In [1]:
#1.write a code to create a string with your name and print it
name = 'Manya Dawar'
print(name)

Manya Dawar

In [2]:
#2.Write a code to find the length of the string "Hello World".
s= 'Hello World'
print(len(s))

11

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
c="Python Programming"
c[:3]

'Pyt'

In [5]:
#4.Write a code to convert the string "hello" to uppercase.
c='hello'
C= c.upper()
C

'HELLO'

In [7]:
#5.replace the word "apple" with "orange" in the string "I like apple"
s= 'I like apple'
s=s.replace('apple','orange')
s

'I like orange'

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [9]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

In [10]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l= [1, 2, 3, 4, 5]
l.remove(3)
l

[1, 2, 4, 5]

In [11]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l1=['a', 'b', 'c', 'd']
sec_element = l1[1]
print(sec_element)

b

In [12]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
lis= [10, 20, 30, 40, 50]
rev_list= lis[::-1]
print(rev_list)

[50, 40, 30, 20, 10]

In [13]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100, 200, 300)
print(tup)

(100, 200, 300)

In [14]:
#12.access the second last element ('red', 'green', 'blue', 'yellow').
t= ('red', 'green', 'blue', 'yellow')
sl_element= t[-2]
sl_element

'blue'

In [15]:
#13. minimum number in the tuple (10, 20, 5, 15)
t=(10, 20, 5, 15)
min(t)

5

In [17]:
#14.index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat','rabbit')
t.index('cat')

1

In [18]:
#15.tuple containing three different fruits and check if "kiwi" is in it
t=('orange', 'apple','banana')
if 'kiwi' in t:
  print("kiwi is in the tuple")
else:
  print("kiwi not in the tuple")

kiwi not in the tuple

In [19]:
#16.set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s= {1, 2, 3, 4, 5}
s.clear()
s

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [24]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s=s1.union(s2)
s

{1, 2, 3, 4, 5}

In [25]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s=s1.intersection(s2)
s

{2, 3}

In [27]:
# 21.create a dictionary with the keys "name", "age","city", and print it.
dict1={'name': 'Manya','age':19, 'city':'ghaziabad'}
dict1

{'name': 'Manya', 'age': 19, 'city': 'ghaziabad'}

In [28]:
#22.add a key-value pair "country": "USA" to {'name': 'John', 'age': 25}
dd={'name': 'John', 'age': 25}
dd['country']='USA'
dd

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
#23. access the value associated w key "name" in {'name': 'Alice', 'age': 30}.
dd1={'name':'Alice', 'age':30}
dd1['name']

'Alice'

In [44]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
dict1

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25.check if "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dd2= {'name': 'Alice', 'city': 'Paris'}
if 'city' in dd2:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [33]:
#26.create a list, a tuple, and a dictionary, and print them all
l1=[1,2,3,4]
t1=(1,2,3,4)
d1={1:'a', 2:'b',3:'c'}
print(l1,t1,d1, sep='\n')

[1, 2, 3, 4]
(1, 2, 3, 4)
{1: 'a', 2: 'b', 3: 'c'}

In [34]:
#27.create list of 5 random nums bw 1-100 sort it in ascending order and print
import random
random_numbers = [random.randint(1, 100) for i in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [19, 39, 41, 78, 89]

In [35]:
#28.create a list with strings and print the element at the third index.
strlist=['a','b','c','d','e']
ele3=strlist[2]
ele3

'c'

In [39]:
#29.combine two dictionaries into one and print the result.
d1={1:'a',2:'b'}
d2={3:'c',4:'d'}
d1.update(d2)
d1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [41]:
#30. Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'banana', 'apple', 'cherry'}